@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    #from_1200 {
        display: none;
    }

    .from1200 {
        display: none !important;
    }
}

@media screen and (max-width: 991.98px) {
    #from_1200 {
        display: none;
    }

    .from1200 {
        display: none !important;
    }

    #from_992_to_1200 {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    
}