/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1024.98px) {
    
    #from_1200 {
        display: none !important;
    }

    .from1200 {
        display: none !important;
    }

    #from_mobile {
        display: none !important;
    }

}


/*mobile*/
@media screen and (max-width: 767.98px) {
    
    #from_1200 {
        display: none!important;
    }

    .from1200 {
        display: none !important;
    }

    #from_tablet {
        display: none !important;
    }

}


/*desctop*/
@media screen and (min-width: 1025px) {

    #from_tablet {
        display: none !important;
    }

    #from_mobile {
        display: none !important;
    }
    
}