#from_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100vw;
    --px12: min(3.20856vw, 1.47783lvh);
    --px14: min(3.74332vw, 1.49893lvh);
    --px15: min(4.0107vw, 1.84729lvh);
    --px15true: min(4.0107vw, 1.606lvh);
    --px16: min(4.27807vw, 1.97044lvh);
    --px16true: min(4.27807vw, 1.71306lvh);
    --px18: min(4.81283vw, 2.21675lvh);
    --px24: min(6.41711vw, 2.56959lvh);
    --px29: min(7.75401vw, 3.10493lvh);
    --px30: min(8.02139vw, 3.69458lvh);
    --px35: min(9.35829vw, 3.74732lvh);
    --px50: min(13.36898vw, 5.35332lvh);
}

/*12 15 16  30*/

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

#mobile__fixed_header {
    position: fixed;
    z-index: 4;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 6.15764lvh;
    background-image: linear-gradient(90deg, #26264F 0%, #434989 100%);
    border-radius: 0 0 min(5.34759vw, 2.46305lvh) min(5.34759vw, 2.46305lvh);
}

#mobile__fixed_header>img {
    width: 56.67914vw;
    margin-left: 5.08021vw;
}

#mobile__hamburger {
    margin-left: 25.6738vw;
    width: 6.18182vw;
    height: 1.72414lvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mobile__hamburger>div {
    height: 0.24631lvh;
    border-radius: min(0.26738vw, 0.12315lvh);
    width: 100%;
    background-color: #ECECEC;
}

#mobile__blur__back {
    display: none;
    position: fixed;
    opacity: 0;
    z-index: 4;
    width: 100vw;
    height: 100lvh;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px);
    transition: opacity 0.3s ease-in-out;
}

#mobile__right_menu {
    z-index: 5;
    position: fixed;
    left: 100vw;
    top: 0;
    height: 100lvh;
    transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
    width: 86.8984vw;
    background-image: linear-gradient(180deg, #26264F 0%, #434989 100%);
    opacity: 0;
    border-radius: var(--px30) 0 0 var(--px30);
    display: flex;
    flex-direction: column;
    padding-left: 7.21925vw;
}

#mobile__right_menu__close {
    font-family: Montserrat;
    font-size: var(--px16);
    font-weight: 700;
    line-height: 2.21675lvh;
    letter-spacing: -0.015em;
    color: #FFF;
    margin-top: 2.46305lvh;
    user-select: none;
}

.mobile__aside__categories {
    width: 75.66845vw;
    background: #FFFFFF0D;
    border-radius: var(--px15);
    border: min(0.35027vw, 0.16133lvh) solid #FFFFFF99;
    box-shadow: 0 0 min(2.63102vw, 1.21182lvh) 0 #FFFFFF40;
    padding-top: 4.81283lvw;
    padding-bottom: 4.81283lvw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mobile__aside__category_1 {
    height: 17.24138lvh;
    margin-top: 3.69458lvh;
}

#mobile__aside__category_2 {
    height: 24.63054lvh;
    margin-top: 2.46305lvh;
}

.mobile__aside__categories__row {
    font-size: var(--px16);
    font-weight: 700;
    line-height: 2.21675lvh;
    letter-spacing: -0.015em;
    text-align: right;
    color: #D9D9D9;
    display: flex;
    align-items: center;
    padding-left: 3.74332vw;
    height: 4.4335lvh;
}

.mobile__aside__categories__row>p {
    width: 53.74332vw;
}

.mobile__aside__categories__row>img {
    margin-left: 4.54545vw;
    width: 10.69519vw;
}

.mobile__aside__categories__row.mobile__aside__categories__row_title {
    font-size: var(--px18);
    line-height: 2.70936lvh;
    color: #FFFFFF;
    height: 5.41872lvh;
}

.mobile__aside__categories__row.mobile__aside__categories__row_title__active {
    color: #4DB2FF;
}

#from_tablet__nav__text_block {
    min-height: 19.33498lvh;
    margin-top: 8.12808lvh;
    margin-left: 20.58824vw;
    width: 52.40642vw;
    text-align: right;
    color: white;
    letter-spacing: -0.015em;
}

#from_tablet__nav__text_block>h1 {
    font-size: var(--px16);
    font-weight: 700;
}

#from_tablet__nav__text_block>p {
    margin-top: 0.5em;
    font-size: var(--px12);
    font-weight: 400;
    line-height: 2.21675lvh;
}

#from_tablet__nav__links_block {
    margin-left: 24.06417vw;
    margin-top: 3.20197lvh;
    width: 48.6631vw;
    height: 8.12808lvh;
    font-family: IBM Plex Sans;
    font-size: var(--px12);
    font-weight: 400;
    letter-spacing: -0.015em;
    text-align: right;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.from_tablet__nav__links_block__link {
    display: flex;
    align-items: center;
    height: min(5.34759vw, 2.46305lvh);
    width: 100%;
}

.from_tablet__nav__links_block__link>p {
    width: 40.37433vw;
}

.from_tablet__nav__links_block__link>img {
    width: min(5.34759vw, 2.46305lvh);
    height: min(5.34759vw, 2.46305lvh);
    margin-left: 2.94118vw;
}

#tablet_navigation__company_logo {
    margin-left: 15.50802vw;
    width: 56.95187vw;
    margin-top: 2.46305lvh;
}

#mobile__comp_1 {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 71.41328lvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mobile__comp_1__back_1 {
    position: absolute;
    width: 100vw;
    height: 61.99143lvh;
    top: 0;
    left: 0;
    max-inline-size: none;
    max-block-size: none;
    pointer-events: none;
    z-index: -1;
}

#mobile__comp_1>h1 {
    margin-top: 12.7409lvh;
    color: white;
    font-size: var(--px24);
    font-weight: 700;
    line-height: 3.42612lvh;
    text-align: left;
    width: 81.28342vw;
}

#mobile__comp_1>p {
    margin-top: 1.606lvh;
    color: white;
    font-size: var(--px16true);
    font-weight: 300;
    line-height: 1.92719lvh;
    letter-spacing: -0.015em;
    text-align: left;
    width: 81.28342vw;
}

#mobile__comp_1>button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--px15true);
    font-weight: 700;
    letter-spacing: -0.015em;
    width: 47.59358vw;
    height: 4.28266lvh;
    margin-top: 6.31692lvh;
    background-image: linear-gradient(111.99deg, #3D58F9 17.81%, #4CB0FE 120.84%);
    border-radius: var(--px50);
}

#mobile__comp_1__back_2 {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 125vw;
    height: 32lvh;
    left: -10vw;
    max-inline-size: none;
    max-block-size: none;
    pointer-events: none;
}

#mobile__comp_2 {
    min-height: 26.1242lvh;
    min-width: 74.86631vw;
    margin-top: -2.24839lvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mobile__comp_2>h1 {
    font-size: var(--px24);
    font-weight: 700;
    line-height: 3.42612lvh;
    letter-spacing: -0.015em;
}

.mobile__comp_2__category {
    display: flex;
    min-width: 74.86631vw;
    min-height: 4.71092lvh;
}

.mobile__comp_2__category:first-of-type {
    margin-top: 2.78373lvh;
}

.mobile__comp_2__category:not(:first-of-type) {
    margin-top: 1.71306lvh;
}

.mobile__comp_2__category>img {
    width: var(--px29);
    height: var(--px29);
    margin-top: 0.6424lvh;
}

.mobile__comp_2__category>p {
    margin-left: 4.14439vw;
    font-size: var(--px14);
    font-weight: 400;
    line-height: 2.35546lvh;
    letter-spacing: -0.015em;
    text-align: left;
}

#mobile__comp_3 {
    margin-top: 5.48073lvh;
    width: 91.71123vw;
    min-height: 58.3833lvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mobile__comp_3>h1 {
    font-size: var(--px24);
    font-weight: 700;
    line-height: 3.42612lvh;
    letter-spacing: -0.015em;
    text-align: center;
}

.mobile__comp_3__card {
    position: relative;
    width: 91.71123vw;
    height: 15.73876lvh;
    border: #DFE7EC min(0.80214vw, 0.3212lvh) solid;
    border-radius: var(--px35);
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.mobile__comp_3__open_card {
    position: absolute;
    z-index: 1;
    width: 70.85561vw;
    height: calc(100% - 3.85439lvh);
    margin-left: 5.61497vw;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.mobile__comp_3__open_card>h1 {
    margin-left: 14.17112vw;
    font-size: var(--px16true);
    font-weight: 500;
    letter-spacing: -0.015em;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.mobile__comp_3__open_card>p {
    text-align: left;
    margin-top: 1.56317lvh;
    font-size: var(--px14);
    font-weight: 400;
    line-height: 2.35546lvh;
    letter-spacing: -0.015em;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.mobile__comp_3__card:first-of-type {
    margin-top: 4.31478lvh;
}

.mobile__comp_3__card:not(:first-of-type) {
    margin-top: 1.71306lvh;
}

.mobile__comp_3__card>img:first-of-type {
    width: 39.83957vw;
    height: 12.20557lvh;
    margin-left: 4.33957vw;
}

.mobile__comp_3__card>h1 {
    font-size: var(--px16true);
    font-weight: 500;
    line-height: 2.35546lvh;
    letter-spacing: -0.015em;
    width: 28.34225vw;
    text-align: center;
    margin-left: 5.88235vw;
}

.mobile__comp_3__card>img:last-of-type {
    width: 3.47594vw;
    margin-left: 4.54545vw;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}

#mobile__comp_4 {
    width: 91.71123vw;
    margin-top: 7.01392lvh;
}

#mobile__comp_4>h1 {
    text-align: center;
    font-size: var(--px24);
    font-weight: 700;
    line-height: 3.42612lvh;
    letter-spacing: -0.015em;
}

.mobile__accordion__point {
    width: 100%;
    height: 6.10278lvh;
    border: min(0.80214vw, 0.3212lvh) solid #DFE7EC;
    border-radius: var(--px24);
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.mobile__accordion__point:first-of-type {
    margin-top: 4.30514lvh;
}

.mobile__accordion__point:not(:first-of-type) {
    margin-top: 1.71306lvh;
}

.mobile__accordion__point__title {
    width: 100%;
    height: 6.10278lvh;
    display: flex;
    align-items: center;
}

.mobile__accordion__point__title>h1 {
    font-size: var(--px16true);
    font-weight: 500;
    line-height: 1.92719lvh;
    letter-spacing: -0.015em;
    text-align: center;
    width: 59.09091vw;
    margin-left: 16.26203vw;
}

.mobile__accordion__point__title>img {
    margin-left: 4.54545vw;
    width: 3.47594vw;
}

.mobile__accordion__point__body {
    width: 100%;
    text-align: center;
    margin-top: 1lvh;
    font-size: var(--px14);
    font-weight: 400;
    line-height: 2.35546lvh;
    letter-spacing: -0.015em;
}