* {
    font-family: 'IBMPlexSans';
    overflow-x: hidden;
}

#from_1200 {

    --font_21px: min(1.09375vw, 1.94444vh);
    --font_24px: min(1.25vw, 2.22222vh);
    --font_32px: min(1.66667vw, 2.96296vh);
    --font_40px: min(2.08333vw, 3.7037vh);
    --font_64px: min(3.33333vw, 5.92593vh);

    --border_radius_3px: min(0.15625vw, 0.27778vh);
    --border_radius_35px: min(1.82292vw, 3.24074vh);
    --border_radius_50px: min(2.6vw, 4.63vh);
}

#from_992_to_1200,
#from_1200 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#from_1200>header {
    position: fixed;
    width: 100vw;
    background: linear-gradient(90deg, #26264F 0%, #444B8C 99.43%);
    border-radius: 0 0 var(--border_radius_50px) var(--border_radius_50px);
    display: flex;
    align-items: center;
    height: 8.9vh;
    margin-top: -9vh;
    transition: margin-top 0.3s ease-in-out;
    z-index: 1;
}

#from_1200>header>img {
    width: 20.8%;
    height: 52%;
    margin-left: 3.9vw;
}

#from_1200>header>p {
    display: inline-block;
    font-size: var(--font_24px);
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.015em;
    line-height: 2.96296vh;
}

#from_1200>header>p:first-of-type {
    color: #4DB2FF;
    width: 14.9vw;
    margin-left: 36.25vw;
}

#from_1200>header>p:last-of-type {
    color: #FFFFFF;
    width: 15.41vw;
    margin-left: 5.26vw;
}

#composition_1 {
    overflow-y: visible;
    width: 100%;
    height: 104.59vh;
}

#composition_1__header {
    margin-top: 4vh;
    margin-left: 3.44vw;
    height: 5.834vh;
    display: flex;
    align-items: center;
}

#composition_1__header>img {
    width: 26.33vw;
    height: 100%;
}

#composition_1__header>p {
    display: inline-block;
    font-size: var(--font_24px);
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.015em;
}

#composition_1__header>p:first-of-type {
    color: #4DB2FF;
    margin-left: 7.4vw;
}

#composition_1__header>p:last-of-type {
    color: #FFFFFF;
    margin-left: 5.177vw;
}

#composition_1__background {
    position: absolute;
    width: 94.11458vw;
    height: 104.58981vh;
    z-index: -2;
    max-block-size: none;
}

#screensaver {
    position: absolute;
    margin-top: 14.5vh;
    margin-left: 32.9vw;
    width: 63.9776vw;
    height: 99.466vh;
    z-index: -1;
}

#composition_1__interaction_block {
    margin-top: 17.96vh;
    margin-left: 7.135vw;
    color: #FFFFFF;
    height: 35vh;
    width: 43vw;
}

#composition_1__interaction_block>p {
    width: 43vw;
    height: 15.7vh;
    font-weight: 700;
    font-size: var(--font_64px);
    line-height: 7.4vh;
}

#composition_1__interaction_block>button {
    margin-top: 9.1vh;
    background: linear-gradient(111.99deg, #3D58F9 17.81%, #4CB0FE 120.84%);
    border-radius: var(--border_radius_50px);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font_24px);
    width: 18.22vw;
    height: 9.72vh;
    cursor: pointer;
    letter-spacing: -0.015em;
}

#composition_2 {
    margin-top: 6vh;
    width: 73.54vw;
    height: 41.48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#composition_2>h1 {
    font-size: var(--font_64px);
    font-weight: 500;
    letter-spacing: -0.015em
}

#composition_2>p {
    font-size: var(--font_40px);
    margin-top: 3.414vh;
    font-weight: 400;
    letter-spacing: -0.015em
}

#composition_2__widgets {
    width: 100%;
    height: 18.334vh;
    margin-top: 7vh;
    display: flex;
    justify-content: space-between;
}

#composition_2__widgets>div {
    width: 20.625vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#composition_2__widgets>div>p {
    display: inline-block;
    height: 6.9vh;
    font-size: var(--font_24px);
    line-height: 100%;
    letter-spacing: -0.015em;
    font-weight: 400;
    overflow: hidden;
}

#composition_2__w1 {
    width: 7.96875vw;
    height: 7.66vh;
}

#composition_2__w2 {
    width: 5.028125vw;
    height: 9.565vh;
}

#composition_2__w3 {
    width: 5.64vw;
    height: 8.435vh;
}

#composition_3 {
    margin-top: 12.48148vh;
    width: 74.94271vw;
    height: 49.94907vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
}

#composition_3>h1 {
    font-size: var(--font_64px);
    font-weight: 500;
    letter-spacing: -0.015em;
}

#composition_3>div {
    width: 100%;
    height: 37.5vh;
    overflow: visible;
    padding-top: 2.10833vh;
    padding-left: 1.28177vw;
    display: flex;
    justify-content: space-between;
}
.composition_3__invisible_wrapper{
    perspective: 100vh;
    position: relative;
    width: 22.11719vw;
    height: 35.20463vh;
    overflow: visible;
    --width: 22.11719vw;
    --height: 35.20463vh;
    --deg: 0deg;
    --opacity: 1;
    --front_opacity: 1;
    --back_opacity : 0;
}

.composition_3__invisible_wrapper:hover{
    --height: 22.11719vw;
    --width: 35.20463vh;
    --deg: 180deg;
    --opacity: 0;
    --is_front: 1;
    --is_back: 2;
    --front_opacity: 0;
    --back_opacity : 1;
}

.composition_3__tile{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--width);
    height: var(--height);
    overflow: visible;
    transform: rotate3d(-1, 1, 0, var(--deg));
    transition: transform 0.3s ease-in, height 0.3s ease-in, width 0.3s ease-in;
}


.composition_3__tile > img{
    z-index: 0;
    position: absolute;
    width: 3.91979vw;
    height: 7.19907vh;
    margin-top: -2.10833vh;
    margin-left: -1.28177vw;
    opacity: var(--opacity);
    transition: all 0.3s ease-in;
}

.composition_3__tile__front, .composition_3__tile__back{
    border: 5px solid #DFE7EC;
    border-radius: var(--border_radius_35px);
    position: absolute;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in, width 0.3s ease-in;
}

.composition_3__tile__front{ 
    z-index: -1;
    opacity: var(--front_opacity);
    width: var(--width);
    height: var(--height);
}

.composition_3__tile__back{
    opacity: var(--back_opacity);
    z-index: -2;
    width: var(--height);
    height: var(--width);
    transform: rotate3d(1, -1, 0, 180deg);
}

.composition_3__tile h1{
    width: 12.20885vw;
    height: 10.96759vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font_32px);
    text-align: center;
    font-weight: 500;
    letter-spacing: -0.015em;
}

#composition_3__tile__front_img_1{
    width: 13.37448vw;
    height: 17.93981vh;
    margin-top: 2.45vh;
}

#composition_3__tile__front_img_2{
    width: 13.70052vw;
    height: 17.93981vh;
    margin-top: 2.56852vh;
}

#composition_3__tile__front_img_3{
    width: 15.33385vw;
    height: 17.20648vh;
    margin-top: 3.11389vh;
}

.composition_3__tile p{
    height: 20.46296vh;
    font-size: var(--font_21px);
    text-align: center;
    font-weight: 400;
    letter-spacing: -0.015em;
    width: 18.80208vw;
    margin-top: 0.96296vh;
    overflow: visible;
}

.composition_3__tile p:first-of-type{
    width: 20.0vw;
}

#composition_4{
    position: relative;
    margin-top: 12.54352vh;
    align-self: flex-start;
    margin-left: -11.77083vw;
    width: 100vw;
    min-height: 136.11111vh;
}

#composition_4 > img{
    position: absolute;
    height: 136.11111vh;
    max-block-size: none;
    width: 62.60417vw;
    z-index: -1;
}

#composition_4 > h1{
    width: 48.33333vw;
    height: 14vh;
    font-weight: 500;
    font-size: var(--font_64px);
    line-height: 6.66667vh;
    margin-left: 40.20833vw;
    letter-spacing: -0.015em;
    text-align: center;
}

#accordion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 46.35417vw;
    height: auto;
    margin-left: 52.89271vw;
    margin-top: 9.32778vh;
}

.accordion_point{
    position: relative;
    cursor: pointer;
    width: 100%; 
    height: 10.18519vh;
    overflow: hidden;
    border: var(--border_radius_3px) solid #DFE7EC;
    border-radius: var(--border_radius_35px);
    background-color: #FFFFFF;
    transition: height 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion_point:not(:last-of-type){
   margin-bottom: 2.96296vh; 
}

.accordion_point__hiedden{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: none;
    justify-content: center;
    align-items: center;
    width: 38.75vw;
    text-align: center;
    font-weight: 400;
    letter-spacing: -0.015em;
    font-size: var(--font_24px);
    line-height: 2.96296vh;
    overflow: hidden;
    margin-top: 10.25185vh;
}

.accordion_point__title{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10.18519vh;
}

.accordion_point__title > p{
    text-align: center;
    width: 35.12865vw;
    font-size: var(--font_32px);
    letter-spacing: -0.015em;
    font-weight: 500;
    margin-left: 5.59687vw;
}

.accordion_point__title > img{
    width: 1.44583vw;
    height: 1.00278vh;
    margin-left: 1.17604vw;
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    #from_1200 {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    #from_992_to_1200 {
        display: none;
    }
}